@import url("https://fonts.cdnfonts.com/css/inter?display=swap");
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--font-heading: var(--font-sans);
	--font-sans: "Inter Variable", sans-serif;
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-foreground: var(--foreground);
	--color-background: var(--background);
	--radius-sm: calc(var(--radius) * 0.6);
	--radius-md: calc(var(--radius) * 0.8);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) * 1.4);
	--radius-2xl: calc(var(--radius) * 1.8);
	--radius-3xl: calc(var(--radius) * 2.2);
	--radius-4xl: calc(var(--radius) * 2.6);

	--color-button-active: rgb(0 0 0 / 20%);
	--color-button-hover: rgb(0 0 0 / 10%);
}

:root {
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.205 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.87 0 0);
	--chart-2: oklch(0.556 0 0);
	--chart-3: oklch(0.439 0 0);
	--chart-4: oklch(0.371 0 0);
	--chart-5: oklch(0.269 0 0);
	--radius: 0.625rem;
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);

	--simple-scrollbar-thumb-color: oklch(0.556 0 0);
	--simple-scrollbar-active-thumb-color: oklch(0.439 0 0);

	--color-button-active: rgb(0 0 0 / 20%);
	--color-button-hover: rgb(0 0 0 / 10%);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.922 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.87 0 0);
	--chart-2: oklch(0.556 0 0);
	--chart-3: oklch(0.439 0 0);
	--chart-4: oklch(0.371 0 0);
	--chart-5: oklch(0.269 0 0);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);

	--simple-scrollbar-thumb-color: oklch(0.556 0 0);
	--simple-scrollbar-active-thumb-color: oklch(0.439 0 0);

	--color-button-active: color-mix(in oklab, #fff 20%, transparent);
	--color-button-hover: color-mix(in oklab, #fff 10%, transparent);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground;
	}

	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}

	select {
		appearance: base-select;
	}

	html {
		--safe-bottom: env(safe-area-inset-bottom, 0px);
		--safe-top: env(safe-area-inset-top, 0px);
		--simple-scrollbar-width: 12px;

		::selection {
			background-color: var(--color-accent);
			color: #fff;
		}

		contain-intrinsic-size: auto 3000px;
		content-visibility: auto;

		-webkit-font-smoothing: antialiased;
		touch-action: manipulation;

		@apply font-sans font-features-inter tabular-nums;

		h1 {
			@apply scroll-m-20 text-center text-4xl font-extrabold tracking-tight text-balance;
		}

		h2 {
			@apply scroll-m-20 text-3xl font-semibold tracking-tight first:mt-0;
		}
	}
}

@utility button-hover {
	@apply hover:bg-button-hover active:bg-button-active disabled:opacity-50;
}

@utility font-features-inter {
	font-feature-settings:
		"liga" 1,
		"calt" 1,
		"dlig" 1,
		"case" 1,
		"zero" 1,
		"ss02" 1,
		"cv08" 1,
		"ss01" 1,
		"cv05" 1,
		"GRAD" 150;
}

@custom-variant mobile {
	@media (width < 32rem) {
		@slot;
	}
}

@custom-variant big-screen {
	@media (width >= 75rem) {
		@slot;
	}
}

@custom-variant desktop {
	@media (width >= 32rem) and (width < 75rem) {
		@slot;
	}
}

@utility simple-scrollbar {
	overflow: auto;

	&::-webkit-scrollbar {
		height: var(--simple-scrollbar-width);
		width: var(--simple-scrollbar-width);
		background: transparent;
	}

	&::-webkit-scrollbar-track {
		border-radius: var(--simple-scrollbar-width);
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: content-box var(--simple-scrollbar-thumb-color);
		border-radius: var(--simple-scrollbar-width);
		border: 2px solid transparent;
	}

	&::-webkit-scrollbar-thumb:active {
		background: content-box var(--simple-scrollbar-active-thumb-color);
	}

	&::-webkit-scrollbar-thumb:hover {
		background: content-box var(--simple-scrollbar-active-thumb-color);
	}

	&::-webkit-scrollbar-corner {
		background: transparent;
	}
}

@utility scrollbar-gutter-auto {
	scrollbar-gutter: auto;
}

@utility scrollbar-stable {
	scrollbar-gutter: stable;
}

@utility scrollbar-both-edges {
	scrollbar-gutter: stable both-edges;
}

@utility scrollbar-width-small {
	--simple-scrollbar-width: 6px;
}

@utility converter-grid {
	--gap: calc(var(--spacing) * 4); /* gap-4 */
	--full: minmax(0, 1fr);
	--content: calc(((min(52rem, 100% - var(--gap) * 4)) / 2) - (var(--gap) / 2));
	--parallel: minmax(0, 1fr);

	@apply mobile:[--gap:6px] @max-[32rem]:[--gap:6px];

	display: grid;

	grid-template-columns:
		[full-start] var(--full) [parallel-one-start] var(--parallel)
		[content-start] var(--content) [parallel-one-end gap-start] var(--gap)
		[gap-end parallel-two-start] var(--content)
		[content-end] var(--parallel) [parallel-two-end] var(--full) [full-end];
}

@utility converter-content {
	grid-column: content-start / content-end;
}
@utility converter-parallel-one {
	grid-column: parallel-one-start / parallel-one-end;
}
@utility converter-parallel-two {
	grid-column: parallel-two-start / parallel-two-end;
}
@utility converter-parallel-msgs {
	grid-column: parallel-one-start / parallel-two-end;
}
@utility converter-full {
	grid-column: full-start / full-end;
}
